html {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    min-width: 576px;
}


/* ----- */
/* Modal */
/* ----- */
/* Styling the create button inside the modal */
.btn-primary {
    background-color: rgb(1, 1, 201);
    box-shadow:  0 0 4px 1px black;
    border: none;
}

/* Styling the create button inside the modal */
.btn-secondary {
    background-color: darkblue;
    box-shadow:  0 0 4px 1px black;
    border: none;
}

/* Styling the hover pseudo-class modal button */
.btn:hover {
    background-color: rgb(0, 0, 203);
    border: none;
}

.btn-position {
    display: inline-block;
    position: absolute;
    right: 20px;
}


/* --------- */
/* Jumbotron */
/* --------- */
/* Styles the jumbotron banner */
.jumbotron {
    font-family: 'Playfair Display', serif;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 1rem;
}

/* Changes the font color of "Welcome!" text */
header h1 {
    color: darkblue;
    display: inline-block;
}

/* ----- */
/* Clock */
/* ----- */
/* Styles the div that displays the current time and date */
#clock {
    width: 50%;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 5px 2px darkblue;
}

/* ----------- */
/* Save Button */
/* ----------- */
/* Styling the table */
.table td, .table th {
    vertical-align: middle;
}

/* Positioning save button in the middle of table row */
.save-btn {
    vertical-align: top;
    padding: 15px;
    background-color: lavender;
    border: none;
    box-shadow: 0px 0px 2px 2px rgb(166, 166, 255);
}

/* Styling the image inside button element */
.sizing-img {
    width: 20px;
    justify-content: start;
    border: none;
}

img {
    vertical-align: sub;
}
